.star {
    // background: #000;
    width: 60%;
    float: left;
    .rant {
        text-align: center;
        padding: 1.3em 1.5em;
        margin: 1.2em;
        color: var(--VeryDarkMagenta);
        font-weight: 600;
        font-size: .9em;
        background: var(--LightGrayishMagenta);
        border-radius: 5px;
        width: 445px;
    }
        .estrella {
            float: left;
            padding-left: 10px;
        }

    .guru {
        margin-left: 6em;
        order:2;
    }
    .reviwes {
        margin-left: 11em;
        order:1;
    }
    .bestech {
        margin-left: 16em;
        order: 3;
    }
}