* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

@import "title", "rated", "testimonios";

:root {
    // primary colors
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    //  Neutral
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
width: 100vw;
max-width: 1110px;
height: 100vh;
margin: auto;    
display: flex;
flex-direction: row;
flex-wrap: wrap;
overflow: hidden;
}

.pattern-top-desk{
    position:absolute;
    top:0%;
}

.pattern-bottom-desk{
    position: absolute;
    top: 30%;
    right: -10%;
}

.container {
    margin: auto;
}








